.principal {
    background: url("../img/cabecalho-desktop.jpg") 90% / cover no-repeat;
    padding: 0 1rem;
}

.principal__descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    height: 80vh;
}

.principal__descricao__logo {
    width: 100px;
    padding-bottom: 1em;
}

.principal__descricao__titulo {
    color: var(--preto-principal);
    font-family: var(--fonte-titulo);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.principal__descricao__subtitulo {
    color: var(--preto-principal);
    font-family: var(--fonte-titulo);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 0.7rem;
}

.descricao__principal__botao {
    background-color: transparent;
    border: 1px solid var(--cor-bordas-botao);
    color: var(--preto-principal);
    padding: 1rem 0;
    width: 90vw;
    text-decoration: none;
}

.principal__descricao__botao:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.descricao__principal__botao-secundario {
    background-color: var(--cor-botao-secundario);
    border: none;
}

.principal__descricao__botao-secundario:hover {
    background-color: var(--cor-botao-secundario-hover);
    border: none;
}

.principal__descricao__texto {
    color: var(--preto-principal);
    line-height: 1.5;
}

/*RESPONSIVO*/


@media screen and (min-width: 480px) {

    .principal {
        display: flex;
        justify-content: flex-end;
        padding: 0 3rem;
    }
    
    .descricao__principal__botao {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {

    .principal__descricao__titulo {
        font-size: 35px;
    }

    .principal__descricao__subtitulo {
        font-size: 25px;
    }

    .descricao__principal__botao {
        width: 500px;
    }
}

