.rodape {
    background: var(--cor-botao-secundario-hover) bottom / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 4rem;
    margin-top: 4rem;
}

.rodape__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.rodape__logo__imagem {
    width: 60px;
}

.rodape__logo__titulo {
    color: var(--preto-principal);
    font-family: var(--fonte-titulo);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.rodape__texto {
    color: var(--preto-principal);
    line-height: 1.5;
}

.rodape__texto__none, .rodape__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape__lista {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .rodape__texto__none {
        display: block;
    }

    .lista__link a {
        color: var(--preto-principal);
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.2px;
        line-height: 4em;
    }
    
    .lista__link a:hover {
        text-decoration: underline;
    }
}