.secundario {
    border-top: 1px solid var(--cinza-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.secundario__titulo {
    color: var(--preto-principal);
    font-family: var(--fonte-titulo);
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 2rem;
}

.secundario__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.secundario__cards__descricao {
    background: rgba(255, 255, 255, 0.377) center / contain no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.secundario__cards__imagem {
    width: 100%;
}

.secundario__cards__titulo {
    color: var(--preto-principal);
    font-weight: 700;
    padding: 0 1rem;
}

.secundario__cards__texto {
    color: var(--preto-principal);
    line-height: 1.5;
    padding: 0 1rem;
}

.secundario__cards__botao {
    background-color: transparent;
    border: 1px solid var(--cor-bordas-botao);
    color: var(--preto-principal);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
}
    
.secundario__cards__botao:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*RESPONSIVO*/

@media screen and (min-width: 480px) {
    .secundario__cards {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .secundario__cards {
        flex-direction: row;
        width: 90vw;
    }

    .secundario__titulo {
        font-size: 25px;
    }
}